.Bill.ant-card-bordered {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  margin: 10px 10px 0 10px;
  height: auto;
  overflow: auto; /* 내용이 넘칠 경우 스크롤 표시 */
  scrollbar-width: none; /* 스크롤바 감추기 */
  }
 
  div#swal2-html-container{
    font-size: 18px;
 }
 .BillTable th.ant-table-selection-column{
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
}
.BillTable .ant-table-thead .ant-table-cell{
  background-color: #5996F8;
  color: white;
}