.care {
  padding: 30px;
  background-color: white;
  box-shadow: 0 5px 10px -5px;
  margin: 10px;
  border-radius: 10px;
}
.care h1 {
  font-weight: 700;
  font-size: 20px;
}

.patientList .ant-table-thead .ant-table-cell {
  background-color: #eff5ff;
}

.careDone.ant-btn-background-ghost.ant-btn-primary {
  width: 100%;
  height: 40px;
}

.careCancel.ant-btn-default.ant-btn-dangerous {
  width: 100%;
  height: 40px;
  margin-top: 5px;
}
.diseaseTable {
  margin-top: 10px;
  width: 100%;
}

.diseaseTable .ant-table-thead {
  height: 20px;
}
.diseaseTable .ant-table-thead .ant-table-cell {
  background-color: #eff5ff;
  font-weight: 600;
  text-align: center;
}

.diseaseTable .ant-table-cell.dmain .ant-radio-group.ant-radio-group-outline{
  width: 10px;
}
/* */
.callPatient {
  margin-top: 10px;
}

/* 환자 정보 */
.patientInfo {
  width: 100%;
  font-size: 12px;
}
