.care.ant-card-bordered {
  padding: 10px;
  background-color: white;
  box-shadow: 0 5px 5px -3px gainsboro;
  border-radius: 10px;
  margin: 10px 10px 0 10px;
  height: auto;
  overflow: auto; /* 내용이 넘칠 경우 스크롤 표시 */
  scrollbar-width: none; /* 스크롤바 감추기 */
}

.care::-webkit-scrollbar {
  display: none; /* Chrome, Safari에서 스크롤바 감추기 */
}
.care h1 {
  font-weight: 400;
  font-size: 22px;
  font-weight: bold;
}
.care p {
  font-size: 16px;
}
.patientListText {
  margin-bottom: 15px;
}
.patientList {
  table-layout: fixed;
  white-space: pre-line;
}
.patientList td.ant-table-selection-column {
  width: 20px;
}
.patientList .ant-table-selection-column .ant-table-cell {
  width: 20px;
}
/* 진료 대기 환자 목록 */
.patientList .ant-table-thead .ant-table-cell {
  background-color: #5996f8;
  color: white;
}
.patientList .ant-table-tbody {
  text-align: center;
}

.careDone.ant-btn-background-ghost.ant-btn-primary {
  width: 100%;
  height: 40px;
}

.careCancel.ant-btn-default.ant-btn-dangerous {
  width: 100%;
  height: 40px;
  margin-top: 5px;
}

/* 상병 */
.diseaseSelect.ant-select {
  width: 100%;
}
.diseaseSelect.ant-select .ant-select-selector{
  min-height: 35px;
}
/* 상병 글자 크기 */
.diseaseSelect .ant-tag-cyan.ant-tag {
  font-size: 16px;
  border-radius: 5px;
}
.diseaseOption {
  width: 100%;
}

.diseaseTable {
  margin-top: 10px;
  width: 100%;
  table-layout: fixed;
}
.diseaseColumn.ant-table-cell {
  white-space: nowrap;
  overflow: hidden; /* 넘치는 부분 숨김 */
  text-overflow: ellipsis; /* 넘칠 경우 "..."으로 표시 */
  max-width: 100px; /* 최대 너비 지정 (원하는 글자수에 맞게 조정) */
}

.diseaseTable .ant-table-thead .ant-table-cell {
  background-color: #5996f8;
  color: white;
}
.diseaseTable .ant-table-placeholder,
.diseaseTable .ant-table-row-level-0.ant-table-row {
  width: 30px;
}
/* 처방*/
.treatSelect {
  width: 100%;
}
.treatSelect.ant-select .ant-select-selector{
  min-height: 35px;
}
/* 처방 글자 크기 */
.treatSelect .ant-tag-cyan.ant-tag {
  font-size: 16px;
  border-radius: 5px;
}
.treatOption {
  width: 100%;
}
/*진료메모*/
.careNote > textarea.ant-input.ant-input {
  width: 100%;
  height: 200px;
}

/* */
button.callPatient {
  margin-top: 10px;
  height: 42px;
}

.patientModal .ant-modal-content {
  width: 500px;
  height: auto;
}

.patientCareList .ant-table-thead .ant-table-cell {
  background-color: #5996f8;
  color: white;
}
/* 환자 정보 */
.patientInfo.ant-card-hoverable {
  width: 100%;
  height: 200px;
  border-radius: 12px;
}
.patientInfo .ant-descriptions-title {
  font-size:20px;
}
.patientInfo .ant-descriptions-item-container span{
  font-size: 16px;
  line-height: 20px;
}
.patientInfo .ant-descriptions-row .ant-descriptions-item{
  margin-right: 10px;
  display: inline-block;
}
.patientInfoTreatment {
  white-space: pre-line;
}

/* 진료 기록 */
.patientCareInfo,
.careNoteText {
  margin-top: 15px;
}

.patientInfoTitle {
  font-weight: bold;
  font-size: 20px;
  line-height: 10px;
}
.collapseInfo span.ant-collapse-header-text,
.collapseInfo div.ant-collapse-expand-icon {
  font-weight: bold;
  font-size: 20px;
}
.care div#swal2-html-container{
  font-size: 18px;
  color: theme('colors.metal');
}