/* 환자 검색 Input 박스 css  나중에 searchoulined인가 컴포넌트 얘 디자인 넣으면 될듯*/
.receipt-search {
    width: 33px;
    margin: 0px 7px 7px 7px;
    height: 47px;
}
  
  
/*이건 아직*/
.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}


/* 테이블 컬럼 CSS 뒷 배경 색상. (테이블 thead의 table cell 이라는 뜻.)*/
.tablecss .ant-table-thead .ant-table-cell {
    /* background-color: #EFF5FF;  */
    font-weight: bolder;
}
.tablecss .ant-table-thead .ant-table-content {
    color: rgb(0, 0, 0); /* 칼라 먹이니까 더 진해짐(그래서 먹임.) */
    font-size: 15px;
    
    /* text-align: right; 이건 해야하나 말아야하나 위에거랑 같이 조정해보기. */
    
}

/* 모달 css */

.modalStyle .ant-modal-content {
    border-radius: 20px;
  }


