body {
  font-family: 'Noto Sans KR', sans-serif;
}
.ant-table-tbody > tr > td{
  padding: 16px 17px !important;
}
.Col1 {
    padding-left: 3px;
    padding-top: 5px;
    padding-right: 0px;
    margin: unset;
}
.Col2 {
    padding-top: 5px;
    padding-right: 10px;
    margin: unset;
    width: 50%;
    height: 50%;
}
.ant-picker-suffix{
    margin: auto;
}
.ptitle{

}
.picker{
    height: 40px;
    width: 70%;
}
.anticon .anticon-ellipsis{
    margin: auto;
}
.ant-input{
    border-radius: 6px;
    font-weight: 600;
    color: #8c8c8c;
    height: 40px;
    border: 1px solid #d9d9d9;
}

.ant-border-space{
  font-family: 'Noto Sans KR', sans-serif;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.ant-border-space .ant-table-thead .ant-table-cell{
  background-color: #5996F8;
  color: white;
}
.spectable .ant-table-thead .ant-table-cell{
  background-color: #5996F8;
  color: white;
}
.disease-table .ant-table-thead .ant-table-cell{
  background-color: #5996F8;
  color: white;
}
.treatment-table .ant-table-thead .ant-table-cell{
  background-color: #5996F8;
  color: white;
}
.dmain-table .ant-table-thead .ant-table-cell{
  background-color: #5996F8;
  color: white;
}
.description{
  font-family: 'Noto Sans KR', sans-serif;
    border-radius: 13px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 15px;
    text-align: center;
}

.span{
    margin-right: 15px;
}

.disease-add-btn{
    margin-right: 25px;
    margin-bottom: 10px;
    float: right;
}
.disease-delete-btn{
  margin-right: 15px;
  margin-bottom: 10px;
  float: right;
}

.treatment-btn {
    margin-bottom: 10px;
    float: right;
}
.judge-btn{
  margin-top: 20px;
  margin-right: 20px;
}

.tmodal {
    border-radius: 12px;
}

.ptitle{
    font-weight: bold;
    float: left;
    margin-top: 30px;
}

.treatment-table{
    margin-bottom: 30px;
    text-align: center;
}
.disease-table{
  text-align: center;
}
.psearch .ant-input {
    height : 40px;
}

  .ant-input-wrapper.ant-input-group .ant-input {
    margin-left: 10px;
    height: 34px;
    width: 160px;
  }
  .ant-btn .ant-btn-default .ant-btn-icon-only .ant-input-search-button{
    margin-left: 10px;
    height: 34px;
  }
  .psearch{
    text-align: left;
    line-height: 2;
    font-size: 15px;
  }

  .ant-modal-content{
    width: 100%;
  }


  .ant-employed {
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
    overflow: hidden; /* 넘치는 부분 숨김 */
    text-overflow: ellipsis; /* 넘칠 경우 "..."으로 표시 */
    max-width: 100px; /*최대 너비 지정 (원하는 글자수에 맞게 조정) */
  }

  .ant-employed:hover::after {
    text-align: center;
    content: attr(data-content); /* 말풍선 내용 설정 */
    position: absolute; /* 절대적인 위치 설정 */
    top: -30px; /* 말풍선 상단 위치 조정 */
    left: 0px; /* 말풍선 좌측 위치 조정 */
    background-color: #3a3131; /* 말풍선 배경색 설정 */
    padding: 5px; /* 말풍선 여백 설정 */
    /*border: 2px solid #ddd;*/ /* 말풍선 테두리 설정 */
    border-radius: 4px; /* 말풍선 테두리 둥글기 설정 */
    font-size: 14px; /* 말풍선 텍스트 크기 설정 */
    color: #ffffff;
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
    z-index: 9999; /* 말풍선의 쌓임 순서 지정 */
  }
  
  .patientInfo {
    width: 100%;
    height: 30%;
    font-size: 10px;
  }

.custom-descriptions .ant-descriptions-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align: center;
  }
  

  .custom-descriptions .ant-descriptions-item-container{
    border-radius: 12px;
    background-color: #f5f5f5;
    padding: 8px;
    margin-right: 60px;
  }

  
.spectitle {
  margin-top: 30px;
  font-weight: bold;
  font-size: 1rem; /* 원하는 크기로 조정하세요 */
  margin-bottom: 1rem; /* 필요에 따라 여백을 조정하세요 */
}

.selected-row {
  background-color: #E9ECEF; /* 선택한 행의 배경색을 변경 */
  /* 다른 스타일 속성들을 추가적으로 설정할 수 있음 */
}

.ant-tag.ant-tag-green {
  font-size: 14px; /* 텍스트 크기 조정 */
  padding: 5px 5px; /* 패딩 조정 */
  border-radius: 8px; /* 테두리 반지름 조정 */
  border: green;
  width: 60px;
  height: 32px;
}

.ant-tag.ant-tag-blue {
  font-size: 14px; /* 텍스트 크기 조정 */
  padding: 5px 5px; /* 패딩 조정 */
  border-radius: 8px; /* 테두리 반지름 조정 */
  border: blue;
  width: 60px;
  height: 32px;
}

.ant-tag.ant-tag-red {
  font-size: 14px; /* 텍스트 크기 조정 */
  padding: 5px 5px; /* 패딩 조정 */
  border-radius: 8px; /* 테두리 반지름 조정 */
  border: red;
  width: 60px;
  height: 32px;
}